<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Titolo</title>
    <!-- Includi i tuoi file CSS qui -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>

</head>
<body>
<!-- Sezione Logo -->
<div class="logo">
    <div class="container">
        <img
                src="image/logo.png"
                alt="Logo"
                class="img-fluid"
        />
    </div>
</div>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuNavbar" aria-controls="menuNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menuNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item attivo">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/riservatautente}">Il Mio Profilo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/loginutente}">Login</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Sidebar -->
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="categoria1">
            <label class="form-check-label" for="categoria1">Categoria 1</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="categoria2">
            <label class="form-check-label" for="categoria2">Categoria 2</label>
        </div>
        <!-- Aggiungi altre checkbox per ulteriori filtri -->
    </div>
</div>

<!-- Sezione Prodotti in Evidenza -->
<section class="container-fluid home-section">
    <div class="container margine-top-4">
        <h2 class="text-center margine-bottom-4">Prodotti in Evidenza</h2>
        <br>
        <div class="row">
            <!-- Prima Card -->
            <div th:each="playset:${playsets}" class="col-md-4">
                <div class="card custom-card">
                    <div class="image-container">
                        <img th:src="@{'image/playset_' + ${playset.id} + '.jpg'}" class="card-img-top" alt="Immagine Prodotto">
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 th:text="${playset.nome}" class="card-title">Prodotto 1</h5>
                        <p th:text="${playset.eta}" class="card-text">Descrizione del Prodotto 1.</p>
                        <p th:text="${playset.prezzo + ' €'}" class="card-text">$19.99</p>
                        <div class="mt-auto"> <!-- Utilizza mt-auto per spingere il contenuto in basso -->
                            <button type="button" class="btn btn-primary btn-dettagli" th:onclick="'window.location.href=\'dettaglio?id=' + ${playset.id} + '\''">Dettagli</button>
                            <button type="button" class="btn btn-success" onclick="aggiungiAlCarrello()">Aggiungi al Carrello</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Altre Cards... -->
        </div> <!-- Chiude la classe "row" -->
    </div>
</section>

<!-- Footer -->
<footer class="sfondo-chiaro text-center py-3">
    <p>&copy; 2024 Il Mio Negozio E-Commerce</p>
</footer>

<!-- Includi i tuoi file JavaScript qui -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function openNav() {
      document.getElementById("mySidebar").style.width = "250px";
    }

    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
    }
</script>

</body>
</html>
