<!DOCTYPE html>
<html lang="it"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Il Mio E-Commerce</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
</head>
<body>
<!-- Sezione Logo -->
<div class="logo">
    <div class="container">
        <img
                src="image/logo.png"
                alt="Logo"
                class="img-fluid"
        />
    </div>

</div>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuNavbar" aria-controls="menuNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menuNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item attivo">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/riservatautente}">Il Mio Profilo</a>
            </li>

        </ul>
    </div>
</nav>
<br>
<section class="container margine-top-4 margine-bottom-4">
    <h2 class="text-center margine-bottom-4">Chi Siamo</h2>
    <p>
        Benvenuti nel nostro negozio online! Siamo appassionati di fornire
        prodotti di alta qualità e un'esperienza di shopping eccezionale ai
        nostri clienti. Esplora la nostra vasta selezione di prodotti e trova
        esattamente quello che stai cercando.
    </p>
</section>
<section class="container-fluid home-section">
    <div class="container margine-top-4">
        <h2 class="text-center margine-bottom-4">personale</h2>
        <br>
        <div class="row">
            <!-- Prima Card -->
                <div class="card custom-card">

                    <!-- Modifica qui aggiungendo l'evento onclick sull'immagine -->


                        <div class="image-container">
                            <img  class="card-img-top" alt="Immagine Prodotto" src="image/daniele.jpg">

                        </div>
                        <div class="card-body d-flex flex-column">
                            <h5  class="card-title">Daniele Ponticella</h5>
                            <p  class="card-text">Descrizione del Prodotto 1.</p>

                        </div>

                </div>
            <div class="card custom-card">

                <!-- Modifica qui aggiungendo l'evento onclick sull'immagine -->


                <div class="image-container">
                    <img  class="card-img-top" alt="Immagine Prodotto" src="image/alessio.jpg">

                </div>
                <div class="card-body d-flex flex-column">
                    <h5  class="card-title">Alessio Pacioni</h5>
                    <p  class="card-text">Descrizione del Prodotto 1.</p>

                </div>

            </div>
            <div class="card custom-card">

                <!-- Modifica qui aggiungendo l'evento onclick sull'immagine -->


                <div class="image-container">
                    <img  class="card-img-top" alt="Immagine Prodotto" src="image/paolo.jpg">

                </div>
                <div class="card-body d-flex flex-column">
                    <h5  class="card-title">Paolo Mameli</h5>
                    <p  class="card-text">Descrizione del Prodotto 1.</p>

                </div>

            </div>
            <div class="card custom-card">

                <!-- Modifica qui aggiungendo l'evento onclick sull'immagine -->


                <div class="image-container">
                    <img  class="card-img-top" alt="Immagine Prodotto" src="image/lorenzo.jpg">

                </div>
                <div class="card-body d-flex flex-column">
                    <h5  class="card-title">Lorenzo Di Claudio</h5>
                    <p  class="card-text">Descrizione del Prodotto 1.</p>

                </div>

            </div>
            <div class="card custom-card">

                <!-- Modifica qui aggiungendo l'evento onclick sull'immagine -->


                <div class="image-container">
                    <img  class="card-img-top" alt="Immagine Prodotto" src="image/valerio.jpg">

                </div>
                <div class="card-body d-flex flex-column">
                    <h5  class="card-title">Valerio Moretta</h5>
                    <p  class="card-text">Descrizione del Prodotto 1.</p>

                </div>

            </div>
            <div class="card custom-card">

                <!-- Modifica qui aggiungendo l'evento onclick sull'immagine -->


                <div class="image-container">
                    <img  class="card-img-top" alt="Immagine Prodotto" src="image/badr.jpg">

                </div>
                <div class="card-body d-flex flex-column">
                    <h5  class="card-title">Badr Jaoui</h5>
                    <p  class="card-text">Descrizione del Prodotto 1.</p>
                </div>

            </div>

                <!-- Altre Cards... -->
            </div> <!-- Chiude la classe "row" -->
        </div>

    <footer class="sfondo-chiaro text-center py-3">
        <p>&copy; 2024 Il Mio Negozio E-Commerce</p>
    </footer>
</section>
<!-- Dipendenze JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script th:src="@{js/script.js}"></script>
</body>
</html>