<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Riservata Admin</title>
</head>
<body>
<a th:href="@{/riservataadmin/logout}">Logout</a>
<a th:href="@{/}">Torna in Home Page</a>


<div th:each="utente : ${utenti}">
        <p th:text="${utente.nome}"></p>
        <p th:text="${utente.profilo}"></p>
    </div>
    <div th:each="utente : ${utenti2}">
        <p th:text="${utente.nome}"></p>
        <p th:text="${utente.profilo}"></p>
    </div>
    <div th:each="ordini : ${ordini}">
        <p th:text="${ordini.importo}"></p>
    </div>
    <h4 th:if="${ordini.isEmpty()}">Non hai effettuato ordini</h4>
</body>
</html>