/* Reset del margine e del padding per garantire una base uniforme */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}


/* Definizione di colori ispirati a Lego */
:root {
    --colore-principale: #4285F4;
    --colore-secondario:black;
    --colore-accentuato: #FBBC05;
    --sfondo: black;
    --colore-testo: white;
}

/* Stili di base per il corpo della pagina */
body {
    font-family: 'Arial', sans-serif;
    background-color: var( --colore-accentuato);
    color: var(--colore-testo);
    margin: 0; /* Aggiunto per evitare spaziature esterne */
    padding: 0; /* Aggiunto per evitare spaziature interne */

}
.logo{
 background-color: black;
}
/* Header e Navbar */
.container-fluid {
    background-color: var(--sfondo);
    padding: 10px;
    text-align: center;
     background-image: url('/image/sfondo.png');
      background-color: var(--colore-secondario);
            background-size: cover;
}

.navbar {
    background-color: var(--colore-secondario);
}

.navbar-nav .nav-link {
    color: var(--colore-testo);
}

.navbar-nav .nav-link:hover {
    color: var(--colore-accentuato);
}

/* Prodotti in Evidenza */
.custom-card {
    border: 1px solid var(--colore-principale);
    border-radius: 10px;
    margin-bottom: 20px;
    background-color:white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.custom-card:hover {
    transform: translateY(-5px);
}

.custom-card .image-container {
    flex: 1; /* Modificato da 20 a 1 */
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.custom-card .image-container img {
    width: 200px;
    height: 200px; /* Altezza fissa per tutte le immagini */
    object-fit: cover;
}

.custom-card .card-body {
    padding: 10px;
}

.card-title {
    font-size: 18px;
    margin-bottom: 10px;
    color: black;
}

.card-text {
    font-size: 14px;
    color: black;
}

.custom-card .btn {
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 14px;
    margin-top: auto;
}

/* Footer */
footer {
    background-color: var(--colore-principale);
    color: var(--sfondo);
    padding: 10px 0;
    clear: both;
    position: relative;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
 .catalogo {
    display: inline-block;
    padding: 25px 70px;
    background-color: #007bff; /* Colore di sfondo */
    color: #fff; /* Colore del testo */
    text-decoration: none; /* Rimuovi il sottolineato */
    border-radius: 5px; /* Angoli arrotondati */
    transition: background-color 0.3s ease; /* Effetto di transizione */
  }

  .catalogo:hover {
    background-color: #0056b3; /* Cambia il colore al passaggio del mouse */
  }
.immaginedettaglio {
  width: 30%; /* Imposta la larghezza al 30% del contenitore */
  height: auto; /* L'altezza si adatta automaticamente alle proporzioni originali */
  display: flex; /* Abilita il modello di layout flexbox */
  justify-content: center; /* Centra l'elemento lungo l'asse principale (orizzontale) */
  align-items: center; /* Centra l'elemento lungo l'asse trasversale (verticale) */
}
.carousel-item {
  display: flex;
  justify-content: center; /* Centra l'elemento lungo l'asse principale (orizzontale) */
  align-items: center; /* Centra l'elemento lungo l'asse trasversale (verticale) */
}
