/* Reset del margine e del padding per garantire una base uniforme */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}


/* Definizione di colori ispirati a Lego */
:root {
    --colore-principale: #4285F4;
    --colore-secondario:black;
    --colore-accentuato: #FBBC05;
    --sfondo: black;
    --colore-testo: black;
}

/* Stili di base per il corpo della pagina */
body {
    font-family: 'Arial', sans-serif;
    background-image:url('/image/sfondo.jpg');
    background-size: cover;
    background-color: white;
    color: var(--colore-testo);
    margin: 0; /* Aggiunto per evitare spaziature esterne */
    padding: 0; /* Aggiunto per evitare spaziature interne */

}
.catalogobody{
    background-image:url('/image/SFONDO8.png');
    background-size: 100%;
    background-repeat: repeat-y;

}
.logo{
 background-color: black ;
}
/* Header e Navbar */
.container-fluid {
    padding: 0px;
    text-align: center;
}
.imgzi{
margin-left:47%;
width:7%;}
.sideimpl{
background-color: white;
padding-left: 10%;
}
.bottom{
position:absolute;
bottom:0px;
right:0px;
}
.bottom-sx{
position:absolute;
bottom:0px;
left:0px;
}
.navbar {
    background-image: url('/image/sfondobanner.png');
    background-color: var(--colore-secondario);
    text-color:black;
}

.navbar-nav .nav-link {
    color:black;
}

.navbar-nav .nav-link:hover {
    color: var(--colore-accentuato);
}

/* Prodotti in Evidenza */
.custom-card {
    border: 1px solid var(--colore-principale);
    border-radius: 10px;
    margin-bottom: 20px;
    background-color:white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.custom-card:hover {
    transform: translateY(-5px);
}

.custom-card .image-container {
    flex: 1; /* Modificato da 20 a 1 */
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.custom-card .image-container img {
    width: 300px;
    height: 300px; /* Altezza fissa per tutte le immagini */
    object-fit: contain;
}

.custom-card .card-body {
    padding: 10px;
}

.card-title {
    font-size: 18px;
    margin-bottom: 10px;
    color: black;
}

.card-text {
    font-size: 14px;
    color: black;
}

.custom-card .btn {
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 14px;
    margin-top: auto;
}

/* Footer */
footer {
    background-color: var(--colore-principale);
    color: var(--sfondo);
    padding: 10px 0;
       width: 100%;
       bottom: 0;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-image: url('/image/SFONDO1.jpg');
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: var( --colore-principale);
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
 .catalogo {
    display: inline-block;
    padding: 25px 70px;
    background-color: #007bff; /* Colore di sfondo */
    color: #fff; /* Colore del testo */
    text-decoration: none; /* Rimuovi il sottolineato */
    border-radius: 5px; /* Angoli arrotondati */
    transition: background-color 0.3s ease; /* Effetto di transizione */
  }

  .catalogo:hover {
    background-color: #0056b3; /* Cambia il colore al passaggio del mouse */
  }
  .carousel-inner {
      width: 800px;
      height: 400px;

  }

  /* Stile per le immagini delle slide */
  .immagine-carosello{
    height:400px;
    width:auto;

  }
  /* Stile per il contenitore del carousel */
  .home-section .container {

      padding-left: 0;
      padding-right: 0;
  }


.col-md-12{
background-color:white;
}